.header {
  grid-area: h;
  background-color: gold;

  img {
    width: 45px;
  }
}

.loginBlock {
  float: right;
  padding: 20px;
  font-size: 20px;
  font-weight: 400;

  a {
    text-decoration: none;
    color: white;
  }
}
