.nav {
  grid-area: n;
  background-color: #f200ff;
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 0;

  .item {
    color: white;
    padding: 10px 15px;
  }

  a {
    text-decoration: none;
    color: white;
    display: block;
  }

  .active {
    color: gold;
  }
}

.friendsSection {
  background-color: #f200ff;
  padding: 10px;
  margin: 0;

  .wrapper {
    width: 100%;
    overflow-x: auto;

    h3 {
      margin-bottom: 0;
      margin-top: 0; 
      padding-top: 10px;
    }
  }

  .friendsList {
    display: flex;
    gap: 10px;
    padding-bottom: 10px;
    min-width: max-content;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 80px;
  }

  .name {
    margin-bottom: 5px;
    font-size: 14px;
    text-align: center;
    color: #fff;
  }

  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #fff;
    border: 2px solid black;
  }
}
