.appWrapper {
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-areas: 
    "h h"
    "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 0;
  padding: 0;
  width: 100%;
}

.appContent {
  grid-area: c;
  background-color: rgb(20, 204, 112);
  min-height: 0; 
  overflow: hidden;
}

@media (max-width: 768px) {
  .appWrapper {
    grid-template-areas: 
      "h"
      "n" 
      "c";
    grid-template-rows: 60px auto 1fr;
    grid-template-columns: 1fr;
    grid-gap: 5px;
  }
}

@media (max-width: 480px) {
  .appWrapper {
    grid-template-rows: 50px auto 1fr;
    grid-gap: 3px;
  }
}
