.appWrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  height: 60px;
}

.mainArea {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.appContent {
  flex: 1;
  background-color: rgb(20, 204, 112);
  padding: 20px;
  overflow-y: auto;
}

/* Адаптив для мобильных */
@media (max-width: 768px) {
  .mainArea {
    flex-direction: column;
  }
  .sidebar {
    width: 100%;
    flex-direction: row; // или оставить column
  }
}
