.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
  height: 100%;
  margin: 0;
  padding: 0;

  .dialogsItem {
    padding: 10px;

    img {
      width: 40px;
      height: 40px;
      border-radius: 20px;
    }
  }

  .message {
    padding: 10px;

    .messageContainer {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    textarea {
      width: 100%;
      height: 80px;
      padding: 12px;
      font-size: 14px;
      border: 1px solid #ccc;
      border-radius: 8px;
      resize: none;
      margin-top: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      transition: border-color 0.3s ease;

      &::placeholder {
        color: #999;
        font-style: italic;
      }

      &:focus {
        border-color: #4CAF50;
        outline: none;
      }
    }

    .buttonContainer {
      display: flex;
      justify-content: center; /* Выравнивание кнопки по центру */
      margin-top: 10px;
    }

    button {
      background-color: #4CAF50;
      border: none;
      color: white;
      padding: 10px 20px;
      font-size: 14px;
      cursor: pointer;
      border-radius: 8px;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #45a049;
      }
    }
  }

  a {
    text-decoration: none;
    color: white;
    padding-left: 10px;
  }

  .active {
    color: gold;
  }
}

.message {
  align-items: center;
  max-width: 60%;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.messageLeft {
  background-color: #d1e7dd;
  margin-right: auto;
}

.messageRight {
  background-color: #f8d7da;
  margin-left: auto;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  flex-shrink: 0;
}

.messageText {
  word-wrap: break-word;
  flex: 1;
}