.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;

  .dialogsItem {
    padding: 10px;
  }

  .message {
    padding: 10px;
  }

  a {
    text-decoration: none;
    color: white;
  }

  .active {
    color:gold;
  }
}
